body {
 
  background: #1C1C1C;
  font-family: 'Karla', sans-serif;
  max-width: 1253px;
  height: 678px;
  margin: 0 auto;
   
  }
  
  .app {
      margin: 0 auto;
      background: #1F2937;
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      border: 0;
      padding: 50px 40px 80px 40px;
      max-width: 400px;
      height: 330px;
      margin-top: 64px;
      border: 3px solid white;   
      border-radius: 5px;   
  }
  
  
  h1{
     
      max-width: 354;
      font-size: 40px;
      
  }


  .span2{
  color: #10B981;
  
  }
  
  p{
      margin: 10px 0 60px 0 ;
      font-size: 20px;
      color: #D5D4D8;
      
  }
  /* BUTTON  */
  button{
      margin-bottom: 35px;
      max-width: 191px;
      color: #FFFFFF;
      padding: 7px 15px;
      border-radius: 6px;
      background: #10B981;
      border: 0;
    
      
  }
  
  button:active{

    transform: translateY(3px);
    
  }
  
  .border{
      border-bottom: 2px solid #2F3E53;
      width: 100%;
     
         
  }
  
  
  .inputs{
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      
     
      
      
     
  }
  
  input{
      border: 1px solid black;
      padding:  10px 5px;
      text-align: center;
      font-size: 14px;
      border-radius: 6px;
      background: #273549;
      color: #55F991;
  }
  
  